:root {
    --color-primary: #1d347A;
    --color-secondary: #879b03;
    --accent-color1: #C7B7B3;
    --accent-color2: #F2ECE8;
    --accent-color3: #ba1708;
    --accent-color4: #f7c50f;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--accent-color2);
    font-family: "Poppins", serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---- Home Page Styles only for hero----*/
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/hero1.webp);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: block;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.data-cards h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
    background: var(--accent-color4);
    color: var(--color-primary);
    padding: 0.9rem;
}

.data-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    padding: 0 20px;
    gap: 10px;
}

.event {
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #333;
    grid-column: 1/3;
}

/* Weather Section */
#weather {
    margin: 0 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #333;
}

.forecast-card {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

/* Company Spotlights */
.spotlights {
    margin: 30px auto;
    max-width: 1200px;
}

#spotlight-cards {
    display: flex;
    gap: 10px;
}

.spotlight-card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
}

.spotlight-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--accent-color4);
    padding: 50px 0;
}

.hero p {
    width: 32%;
    font-size: 1.5rem;
    color: var(--accent-color2);
    padding: 50px;
}

.obj-view {
    padding: 2vw 8vw 2vw 8vw;
    margin: auto;
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

h2 {
    color: var(--color-primary);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.btn {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

#mark {
    color: var(--color-primary);
    font-weight: bold;
}

button {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer;
}

.nav-links {
    text-align: start;
    align-items: center;
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 30px;
    transition: all 0.3s ease;
}

.btn, a:hover {
    background: rgba(255, 255, 255, 0.6);
}

button:hover {
    background: var(--accent-color3);
}

#hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Directory Styles */
.view-toggle {
    margin: 20px 0;
    text-align: center;
}

.view-toggle i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.view-toggle button {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

#directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

#directory.list-view {
    display: block;
}

.member-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.member-card img {
    width: 80%;
    height: 25vh;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

#directory .member-card > * {
    margin: 0.1rem;
}

.list-view {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.list-view img {
    display: none;
}

.list-view > * {
    margin: 0 1rem;
}

.list section img {
    display: none; /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list-view:nth-child(even) {
    background-color: #bed;
}

/* Footer Styles */
footer {
    background-color: var(--color-secondary);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .logo {
        display: grid;
        grid-template-columns: 44px auto 44px;
        align-items: end;
        position: relative;
        padding: 20px 0;
    }

    #hamburger {
        display: flex;
    }

    #directory {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .member-card {
        box-shadow: 5px 5px 5px var(--accent-color1);
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 11%;
        right: 0;
        width: 100%;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links a {
        font-size: 1.5rem;
    }
}

/* Responsive Navigation */
@media (max-width: 440px) {
    #hamburger {
        font-size: 0.9rem;
    }

    #directory {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.3rem;
    }

    .nav-links {
        flex-direction: column;
        top: 16%;
    }

    .list-view {
        display: block;
    }
}