:root {
    --color-primary: #1d347A;
    --color-secondary: #7382AD;
    --accent-color1: #C7B7B3;
    --accent-color2: #F2ECE8;
    --accent-color3: #ff6f61;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--accent-color2);
    color: var(--color-primary);
}